* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:960px;
  margin: 125px auto;
}

p {
  display: block;
  width: 800px;
  margin: 100px auto;
  font: 60px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
